
{% extends 'layout.html' %}

{% block body %}

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>Conceito (PT)</th>
            <th>Descrição</th>
            <th>Tradução Inglês (EN)</th>
        </tr>
    </thead>
    <tbody>
        {% for conceito, info in conceitos.items() %}
        <tr>
            <td>{{ conceito }}</td>
            <td>{{ info.descricao }}</td>
            <td>{{ info.en }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}